<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "kz.alcci.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. ALCCI</name>

    <description>
        Алматинская Палата торговли и инвестиций
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/67178e4c568b63aacc0bee927d4eda54.png" density="ldpi" />
        <icon src="res/android/icon/043a909fccbb559343945f1633bf6e53.png" density="mdpi" />
        <icon src="res/android/icon/4e6c915bab64b517bce985500c682bae.png" density="hdpi" />
        <icon src="res/android/icon/7540aaf9120ca889dd255fa26c620ce3.png" density="xhdpi" />
        <icon src="res/android/icon/15eae1cd8ff681332ffe145caa8e2a7d.png" density="xxhdpi" />
        <icon src="res/android/icon/79feefd6828c627581edaf6741a25622.png" density="xxxhdpi" />

        <splash src="res/android/screen/5c8b39d760af117cc1a436a04f4f8493.png" density="port-hdpi"/>
        <splash src="res/android/screen/f1044f99d2ef49fa0db2dc0c4ecfb4c2.png" density="port-ldpi"/>
        <splash src="res/android/screen/d37c93c5ab242294d42e1597776f933a.png" density="port-mdpi"/>
        <splash src="res/android/screen/cf51a234b7f710603b056fc20638a6f1.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/0ba1518c02831f1e6a82c88a774eae19.png" width="180" height="180" />
        <icon src="res/ios/icon/207d0fc0e8454df7d9381441cf7b9fc9.png" width="60" height="60" />
        <icon src="res/ios/icon/fd88dee7fd56ec687883c7c447ab3546.png" width="120" height="120" />
        <icon src="res/ios/icon/70e0be076f7d07117ddc77aba6e80815.png" width="76" height="76" />
        <icon src="res/ios/icon/36a93ce1f23edbc7504a0e2f8a540d6e.png" width="152" height="152" />
        <icon src="res/ios/icon/5ab83117ed0fc468d88ffb7a63d21123.png" width="57" height="57" />
        <icon src="res/ios/icon/4d758d5b8770dbf0d256119d4336f20c.png" width="114" height="114" />
        <icon src="res/ios/icon/2c048d53d139779fcb5ab877dcda824d.png" width="72" height="72" />
        <icon src="res/ios/icon/d9605cfebf1ba3201fba99f1a2d68515.png" width="144" height="144" />
        <icon src="res/ios/icon/5afe5b25d6fc9c01e042415ffec1dc99.png" width="167" height="167" />
        <icon src="res/ios/icon/3992ffeb9c5a57b5e6b20d81b5155f86.png" width="29" height="29" />
        <icon src="res/ios/icon/952404e20f5e26965964f4f30158ce13.png" width="58" height="58" />
        <icon src="res/ios/icon/ed4952f0f3ea0b98776a2a54e84d9c41.png" width="87" height="87" />
        <icon src="res/ios/icon/f854dd6641aea3ac6febbadff2117b97.png" width="167" height="167" />

        <splash src="res/ios/screen/634aee3eb941d8cfd3d5f77795619332.png" />
        <splash src="res/ios/screen/a36f4bbb7c733313bb77f1fbebb177e2.png" />
        <splash src="res/ios/screen/26e577809d8bfa106b611d7e0e08743a.png" />
        <splash src="res/ios/screen/5ecb95ceafdb56376e4e7f900d5c69b8.png" />
        <splash src="res/ios/screen/bf021421a3d1c2fbfaeca8405a9edbf3.png" />
        <splash src="res/ios/screen/71abc70a72d6964cd3200c2ac739bab9.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/f105c9c7074bcfa08e42853b96a9f4b9.png" target="StoreLogo" />
        <icon src="res/windows/icon/ab133f28a5e3d62c4738c0cdd487c511.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/2a6ea7e889769cbfbc0c1499f0d4e0c5.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/334916365521dbf4ae9e9cfe693c8148.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/6dcde5a91d6cae8fb3c05de767efae4e.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/576aec8ae2ec2a593e16a7c84d110d98.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/82f6a6cb5170ee745cfad243cabdc7d8.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/9680a618e0a7cf0fe911dd72a16b0b63.png" target="SplashScreen"/>
        <splash src="res/windows/screen/d53982a4a99b20f6ed5ad5313c2f4092.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>